{% extends 'layout.html' %}
{% block title %}Show Actor{% endblock %}
{% block content %}

<h1 class="title text-center">Show Actor</h1>
<div class="card detailed-view">
    <p>And here is a "detailed" informations about:</p>
    <div class="row">
        <div class="col col-twothird">
            <h2>Name: {{ actor["name"] }}</h2>
            <p>Id: {{ actor["id"] }}</p>
            <p>Date of birth: {{ actor["birthday"] }}</p>
            <p>Date of death: {{ actor["death"] }}</p>
            <p>Biography: {{ actor["biography"] }}</p>

        </div>
        <div id="player" class="trailer col col-third"></div>
    </div>
</div>
{% endblock %}